In [220]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [230]:
titanic_data = pd.read_csv('train.csv')

def clean(titanic_data):
    titanic_data = titanic_data.drop(['PassengerId','Ticket','Cabin','Name',"SibSp",'Parch','Embarked','Fare'],axis=1)
    titanic_data['Sex'].replace(['male','female'],[0,1], inplace = True)
    titanic_data.dropna(axis=0,inplace=True)
    titanic_data.reset_index()
    return titanic_data

titanic_data = clean(titanic_data)
titanic_data.head(10)

    Survived  Pclass  Sex   Age
0          0       3    0  22.0
1          1       1    1  38.0
2          1       3    1  26.0
3          1       1    1  35.0
4          0       3    0  35.0
6          0       1    0  54.0
7          0       3    0   2.0
8          1       3    1  27.0
9          1       2    1  14.0
10         1       3    1   4.0

In [236]:
from sklearn.neighbors import KNeighborsClassifier


model = KNeighborsClassifier()
y = titanic_data['Survived']
x = titanic_data.drop('Survived',axis=1)
model.fit(x,y)
model.score(x,y)

0.8417366946778712

In [285]:
def survival(model, pclass=1, sex=1, age=51):
    x=np.array([pclass,sex,age]).reshape(1,3)
    print(model.predict(x))
    print(model.predict_proba(x))

In [286]:
survival(model)

[1]
[[0.2 0.8]]

/Users/pctest/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
/Users/pctest/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(